# Django
Django==5.1

# DB
psycopg2==2.9.9

# Test
pytest==8.3.2

# Shell
ipython==8.27.0

# Formatting
pep8==1.7.1
pylint==3.2.7

# Decouple
python-decouple==3.8

# ERD
django-extensions==3.2.3
pydotplus==2.0.2

